################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarCodeReader/BarCodeReader/obj/Debug
/BarCodeReader/.vs/BarCodeReader/v15/Server/sqlite3
/BarCodeReader/.vs/BarCodeReader/v15
*.dll
/BarCodeReader/BarCodeReader/bin/Debug
